In [1]:
import pandas as pd

In [4]:
table = pd.read_html('https://en.wikipedia.org/wiki/Comma-separated_values')
print(table[1])

   Year   Make                                   Model  \
0  1997   Ford                                    E350
1  1999  Chevy              Venture "Extended Edition"
2  1999  Chevy  Venture "Extended Edition, Very Large"
3  1996   Jeep                          Grand Cherokee

                        Description   Price
0                     ac, abs, moon  3000.0
1                               NaN  4900.0
2                               NaN  5000.0
3  MUST SELL!air, moon roof, loaded  4799.0

In [6]:
table[1].to_csv('data_python.csv')

NameError: name 'data_python' is not defined